<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td><a href="http://swcarpentry.github.io/shell-novice/" target="_blank">Automating tasks with the Unix shell</a></td> </tr>
      <tr> <td>12:15</td>  <td>wrap-up</td> </tr>
      <tr> <td>12:30</td>  <td>END of Day</td> </tr>
      <tr> <td>&nbsp;</td>  <td><a href="https://docs.google.com/document/d/1GstF7VGOmyttGYuZ29PBzP-YLoJ7XGgJX0DI6zluD6g/edit?usp=sharing" target="_blank">Shell Cheat Sheet</a></td> </tr>
      
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td><a href="http://swcarpentry.github.io/git-novice/"  target="_blank">Version control with Git</a></td> </tr>
      <tr> <td>12:15</td>  <td>wrap-up</td> </tr>
      <tr> <td>12:30</td>  <td>END of Day</td> </tr> 
      <tr> <td>&nbsp;</td>  <td><a href="https://docs.google.com/document/d/1fo08RDG0G0r33x3DGGvQ7IpUDLB3uPy2tzQpYQYTWbc/edit" target="_blank">Git Cheat Sheet</a></td> </tr>
    </table>
  </div>
</div>
  <hr>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/"  target="_blank">Building programs with Python</a> (part 1)</td> </tr>
      <tr> <td>12:15</td>  <td>wrap-up</td> </tr>
      <tr> <td>12:30</td>  <td>END of Day</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/"  target="_blank">Building programs with Python</a> (part 2)</td> </tr>
      <tr> <td>12:15</td>  <td>wrap-up</td> </tr>
      <tr> <td>12:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
